@charset "UTF-8";

/* sub_common */
.sub_tit1 {position:relative; margin-bottom:30px; padding-bottom:10px; color:#333; font-size:1.53em; font-weight:500;}
.sub_tit1:after {content:''; display:block; position:absolute; left:0; bottom:0; width:60px; height:2px; background-color:#4d8cd3;}
.sub_tit2 {margin-bottom:10px; color: #2e51ad; font-size: 1.06em; font-weight: 500;}

/* sub_layout */
.sub_con {padding-bottom:220px;}
.sub_con .container {max-width: 1000px;}

.life_wrap .sub_top {margin-bottom: 40px; padding-bottom: 35px; border-bottom: 1px solid #d1d1d1; text-align: center;}
.life_wrap .sub_top .img {padding-bottom: 60%; margin-bottom: 30px; background-repeat: no-repeat; background-position: center; background-size: cover;}
.life_wrap .sub_top .sort {margin-bottom: 30px; font-size: 25px; font-weight: 500; line-height: 32px; color: #151515;}
.life_wrap .sub_top .sort:after {display: block; content:''; width: 68px; height: 4px; margin: 20px auto 0; background-color: #000;}
.life_wrap .sub_top .sort span {display: block;}
.life_wrap .sub_top .title {margin-bottom: 30px; font-size: 25px; font-weight: 500; color: #151515;}
.life_wrap .sub_top .txt {margin-bottom: 10px; font-size: 17px; line-height: 24px;}
.life_wrap .sub_top .writer {font-family: 'NanumSquare'; font-size: 14px;}
.life_wrap .row {display: flex; margin-bottom: 46px; align-content: space-between;}
.life_wrap .row:last-of-type {margin-bottom: 0;}
.life_wrap .col {width: 100%; align-self: flex-start; margin-left: 32px;}
.life_wrap .col:first-child {margin-left: 0;}
.life_wrap .col .img {width: 100%; padding-bottom: 107.4%; background-repeat: no-repeat; background-position: center; background-size: cover;}

.life_wrap .col .title {margin-bottom: 10px; font-size: 17px; font-weight: 500; color: #151515;}
.life_wrap .col .txt {font-size: 15px; line-height: 22px; text-align: justify; word-break: break-word;}
.life_wrap .col .txt sup {font-size: 10px; vertical-align: super;}
.life_wrap .col .img_txt {padding: 23px 20px; font-size: 14px; font-weight: 500; color: #151515; background-color: #f2efef;}
.life_wrap .col .img + .img_txt {margin-top: 10px; margin-bottom: 20px;}
.life_wrap .col .txt_box + .img_txt {margin-top: 20px;}

/* 1200 */
@media all and (min-width:1200px){

}

/* 1050 */
@media all and (max-width:1050px) {
    .life_wrap .row {padding: 0 39px;}
}

/* 769 */
@media all and (max-width:769px) {

    .life_wrap .sub_top .img {padding-bottom: 60.3%; font-size: 0;}
    .life_wrap .sub_top .txt_box {padding: 0 20px;}
    .life_wrap .row {display: block; padding: 0;}
    .life_wrap .col {margin-left: 0; margin-bottom: 46px; padding: 0 20px;}
    .life_wrap .col:last-child {margin-bottom: 0;}
    .life_wrap .col .img {width: 100%; padding-bottom: 92.1%;}
    .life_wrap .row.resize .col {width: 100%;}
    .life_wrap .col .img:last-child {margin-bottom: 10px;}
    .life_wrap .col .img_txt + .txt_box {margin-top: 20px;}
}
